services:
  chrome:
    image: fullnode/chrome-novnc:latest
    pull_policy: if_not_present
    container_name: ${PRE_CONTAINER_NAME}-chrome
    restart: unless-stopped
    privileged: true
    ports:
      - "${NOVNC_PORT}:${NOVNC_PORT}/tcp"
    environment:
      NOVNC_TITLE: "${PRE_CONTAINER_NAME}"
      CHROMIUM_PROXY_SERVER: "${PROXY}"
      CHROMIUM_START_URL: "chrome://version"
      CHROMIUM_CLEAN_SINGLETONLOCK: "true"
      CHROMIUM_LOAD_EXTENSION: ""
    deploy:
      resources:
        limits:
          memory: 2000M
          cpus: '0.5'
        reservations:
          memory: 500M
          cpus: '0.1'
    hostname: chrome
    env_file: .env

  chrome-shell:
    image: fullnode/chrome-novnc-shell:latest
    pull_policy: if_not_present
    container_name: ${PRE_CONTAINER_NAME}-chrome-shell
    restart: unless-stopped
    privileged: true
    volumes:
      - ./main.py:/scripts/main.py
      - ./data:/scripts/data
    env_file: .env
    entrypoint: >
      sh -c "echo 'chrome-shell' && sleep infinity" 

  chrome-dufs:
    image: sigoden/dufs:latest
    pull_policy: if_not_present
    container_name: ${PRE_CONTAINER_NAME}-chrome-dufs
    restart: unless-stopped
    privileged: true
    command: /scripts/data -A
    volumes:
      - ./data:/scripts/data
    env_file: .env
